
.header {
  position: relative;
}

.sub_header{
  position: relative;
}

.sub_image h3{
  position: absolute;
  top: 0.5%;

  left: 43%;
  Color: white;
  font-size: 20px;

}

.shrink_height {

  height: 40px;
  width: 150%;
}

h1 {

  text-align: center;
  color: lightblue;
  font-size: 30px;
}

h2,h3 {
  text-align: center;
}

.center_img {
  margin: auto;
  display: block;
}


.image h1 {
  position: absolute;
  top: 1px;
  left: 60%;
  color: white;
  font-size: 50px;

}

.image #home {
  position: absolute;
  top: 40%;
  left: 70%;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;

}

.image #about {
  position: absolute;
  top: 50%;
  left: 70%;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.image #work {
  position: absolute;
  top: 60%;
  left: 70%;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}


.image #team {
  position: absolute;
  top: 70%;
  left: 70%;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}


.image #contact {
  position: absolute;
  top: 80%;
  left: 70%;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

span {
  color: white;
}

.white {
  color: white;
}


.footer {
  background-color: gray;
  height: 20px;
  width: 150%;
}
